body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  margin: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: $color-base;
}

h1 {
  font-size: 2em;
  font-family: $font-header;
  margin-bottom: 20px;
}

h2 {
  font-family: $font-subheader;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: center;

  border: 1px solid $color-base;
  border-left: 0;
  border-right: 0;
  padding: 0 1em;
}

h3 {
  font-style: italic;
  font-family: Georgia, serif;
}

/* links */
a {
  color: $color-alt;
  @include hover-link;
}

a:focus, a:hover, a:active { outline: 0; }

strong {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

section img {
  max-width: 100%;
}

figure {
  margin-bottom: 1em;

  img {
    margin: 0;
    display: block;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.5em;
  }
}