.wrapper {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

#header-section {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;

  h1 {
    font-size: 4em;
    line-height: 1.5em;
  }

  h2 {
    display: inline-block;
    margin-bottom: 20px;
  }

  h3 span {
    position: relative;
  }
}

#go-to-author {
  // @include dark-tooltip; // tooltip style is set in _media.scss
  position: absolute;
  left: 120%;
  top: -4px;
}

footer {
  margin-bottom: 200px;
}

footer section {
  @extend .with-columns;
  position: relative;

  .about-box {
    @extend .two-from-three;
  }

  .social-box {
    @extend .one-from-three;
  }

  img {
    float: left;
    @include frame;
    margin: 0 1em 1em 0;
  }

  strong {
    font-size: 1.2em;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }

  #go-to-top {
    @include dark-tooltip('top');
    position: absolute;
    right: 0;
    bottom: -180px;
  }
}

small {
  display: block;
  border-top: 1px solid $color-border-form;
  padding: 5px 0;
  
  font-size: 0.8em;
  font-style: italic;
  font-family: Georgia, serif;
  text-align: right;
}