.wrapper {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;

  h1 {
    font-size: 4em;
    line-height: 1.5em;
  }

  h2 {
    display: inline-block;
    margin-bottom: 20px;
  }
}

section {
  @include pie-clearfix;
  margin-bottom: 100px;
}

.img-box {
  img {
    width: 100%;
  }
}

footer {
  margin: 200px 0;

  h2 {
    font-size: 2em;
    margin-bottom: 200px;
  }

  section {
    @extend .with-columns;

    .social-box {
      @extend .one-from-three;
    }

    .form-box {
      @extend .two-from-three;
    }
  }
}