@media only screen and (max-width: 768px) {

  .one-from-three, .two-from-three, .one-from-two {
    float: none;
    width: auto;
    margin-right: 0;
    margin-bottom: 2em;
  }

  h1 { font-size: 1.7em; margin-bottom: 10px; }
  h2 { font-size: 1.2em; }
  #header-section h1 { font-size: 3em; line-height: 1.5em; }
  
  #go-to-author {
    top: 3em;
    left: -9px;
    @include dark-tooltip('top');
  }

  section {
    margin-bottom: 80px;

    header {
      margin-bottom: 10px;

      h1, .pager { display: block; }
      
      .pager {
        margin: 10px 0 0;
        text-align: center;
      }
    }
  }

  .separator {
    margin: 140px 0;
  }
}

@media only screen and (max-width : 480px) {

  h1 { font-size: 1.3em; margin-bottom: 5px; }
  h2 { font-size: 1.1em; }
  #header-section h1 { font-size: 2em; line-height: 1.2em; margin-bottom: 10px; }

}

@media only screen and (min-width: 768px) {

  #go-to-author {
    @include dark-tooltip('left');
  }

}


