header {
  h3 span {
    position: relative;
  }

  #go-to-author {
    // @include dark-tooltip;
    position: absolute;
    left: 120%;
    top: -4px;
  }
}

.section-one, .section-five, .section-six, .section-eight {
  @extend .with-columns;

  .desc-box {
    @extend .one-from-three;
  }

  .img-box {
    @extend .two-from-three;
  }
}

.section-two {
  @extend .with-columns;

  .desc-box {
    @extend .two-from-three;
  }

  .list-box {
    @extend .one-from-three;
  }
}

.section-three {
  @extend .with-columns;

  .desc-box {
    @extend .two-from-three;
  }

  .img-box {
    @extend .one-from-three;
  }
}

.section-four {
  article {
    @extend .with-columns;
  }

  .desc-box {
    @extend .one-from-three;
  }

  .img-box {
    @extend .two-from-three;
  }

  .desc-box-alt {
    @extend .two-from-three;
  }

  .img-box-alt {
    @extend .one-from-three;
  }
}

footer section {
  @extend .with-columns;
  position: relative;

  .about-box {
    @extend .two-from-three;
  }

  .social-box {
    @extend .one-from-three;
  }

  img {
    float: left;
    display: block;
    border: 2px solid $color-base;
    padding: 2px;
    margin: 0 1em 1em 0;
  }

  strong {
    font-size: 1.2em;
  }

  em {
    font-weight: bold;
  }

  #go-to-top {
    @include dark-tooltip('top');
    position: absolute;
    right: 0;
    bottom: -180px;
  }
}
