section {
  @include pie-clearfix;
  margin-bottom: 100px;
}

.img-box {
  margin-bottom: 20px;

  img {
    width: 100%;
    display: block;
  }
}

.list {
  h2 {
    margin-bottom: 20px;
  }

  li {
    list-style: disc inside;
    font-size: 1.1em;
    margin: 0.3em 0;
  }
}