section {
  margin-bottom: 160px;

  article {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.img-box {

  > img {
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }
}

.list {
  h2 {
    margin-bottom: 20px;
  }

  li {
    list-style: square inside;
    font-size: 1.1em;
    margin: 0.3em 0;
  }
}

.social-links {
  li {
    padding: 8px 0;
    border-bottom: 1px solid $color-base;

    &:first-child {
      border-top: 1px solid $color-base;
    }
  }

  a, span {
    display: block;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 2em;
    padding-left: 3em;

    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
  }

  .twitter {
    background-image: image-url('twitter.svg');
  }

  .github {
    background-image: image-url('github.svg');
  }

  .zerply {
    background-image: image-url('zerply.svg');
    background-size: auto 1.7em;
    background-position: 0.2em center;
  }

  .website {
    background-image: image-url('info.svg');
    background-size: auto 1.7em;
    background-position: 0.3em center;
  }

  .email {
    background-image: image-url('mail.svg');
    background-position: 0.2em center;
  }
}

@mixin dark-tooltip($direction: 'left') {
  background: $color-base;
  @include border-radius(4px);
  padding: 4px 8px;
  
  text-align: center;
  font-size: 14px;
  line-height: $line-height-base;
  color: #fff;
  font-weight: normal;
  font-style: italic;
  font-family: Georgia, serif;
  white-space: nowrap;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid;
  }

  @if $direction == 'left' {
    &:after {
      border-right-color: $color-base;
 
      right: 100%;
      top: 50%;
      margin-top: -6px;
    }
  }

  @if $direction == 'top' {
    &:after {
      border-bottom-color: $color-base;
 
      left: 50%;
      bottom: 100%;
      margin-left: -6px;
    }
  }
}