// typography
$font-family: 'Kameron', serif;
$font-header: 'Bevan', serif;
$font-subheader: 'Francois One', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5em;

// colors
$color-base: #2a2a2a;
$color-alt: #111;

