%footer
  %h2 Do you like it?

  %section.with-two-columns
    %h1 Contact me

    .social-box
      social bookmarks

    .form-box
      %div
        %label{:for => 'email-field'} Your Email
        %input#email-field{:type => 'text'}
      %div
        %label{:for => 'message-field'} Your Message
        %textarea#message-field
          You can just say 'Hi'
      %div
        %a.button{:href => '#'} Send it!

    