%footer
  %h2 Do you like it?

  %section
    
    %a#go-to-top.internal{:href => '#header-section'} back to top

    .about-box#about-section
      %h1 Author
      %article
        %img{:src => 'http://www.gravatar.com/avatar/c06a7fc686bc021258d1bf34c3397b6e?s=135', :alt => 'author photo'}
        :markdown
          **Krzysztof Urbas**, front-end programmer, UX designer, bass player.

          I am enthusiastic web developer, who can never stop exploring news in web-world. I am continually expand my skills and I am never afraid of new technologies. My everyday work consist of getting to know the problem, finding solution, building prototypes and then programming web front-end. I use *HTML5* and all *CSS3* power supported by *JavaScript* magic to develop nice looking, usable and human friendly interfaces. I am especially fond of Ruby world because of a lot nice tools which make my work easier, like *HAML, SASS* and *CoffeeScript*. I am also *startups* and agile project management fan.  

          **I am available for hire. If you have some interesting project and need experienced front-end man just let me know!**

    .social-box
      %h1 Contact
      %ul.social-links
        %li
          %span.email{:style => "unicode-bidi:bidi-override;direction:rtl;"} moc.liamg@lp.usyzrk
        %li
          %a.twitter{:href => 'http://twitter.com/krzysu'} follow me on twitter
        %li
          %a.github{:href => 'http://github.com/krzysu'} fork me on github
        %li
          %a.zerply{:href => 'http://zerply.com/krzysu'} my résumé on zerply
        %li
          %a.website{:href => 'http://myviews.pl'} visit my website
        %li
          %a.soundcloud{:href => 'http://soundcloud.com/sbsband'} listen to my band
    

%small
  build on
  %a{:href => 'https://github.com/krzysu/case.study.template'} case.study.template
  by Krzysztof Urbas (@krzysu)
  |
  some
  %a{:href => 'http://www.alexpeattie.com/projects/justvector_icons/'} icons
  by Alex Peattie (@alexpeattie)