%header#header-section
  %h1 Resfinity Hotel 2012
  %h2 case study from front-end developer view
  %h3
    %span
      by Krzysztof Urbas
      %a#go-to-author.internal{:href => '#about-section'} more about the author
  