%header#header-section
  %h1 Case Study Template
  %h2 ready template for your next case study or portfolio page
  %h3
    %span
      by Krzysztof Urbas
      %a#go-to-author.internal{:href => '#about-section'} more about the author
  