%section.section-eight
  %h1 Summary

  .desc-box
    :markdown
      The project took **about 3 months**. We designed some more features than we were able to implement during that period, mainly because of technical resons (like Hotel API had not been supporting the feature yet). We left them for future iterations but **the main flow was finished**. We could switch our first users to new IBE and start **Phase 5: Testing**.

  .img-box
    %figure
      .img-eight-01
      %figcaption
        page with confirmation and booking number means all went good