%section.section-two
  
  %h1 Section With Table

  .desc-box
    :markdown
      #{lorem.paragraph}

  .list-box.list
    %h2 Features
    %ul
      %li build on top of Middleman
      %li HAML, SASS with Compass & CoffeeScript
      %li simple semantic grid
      %li content slider
      %li mobile friendly
      %li nice typography
      %li author section on the bottom
      %li completely open source!
      %li<
        you can use links 
        %a{:href => 'https://github.com/krzysu/jquery.plugins'} like this one
