%section.section-six
  %h1 Phase 4. Implementation

  .desc-box
    :markdown
      We already had a lot of **working code** after prototyping phase. And we did not have much time **till deadline**. So while waiting for new designs from graphic designer, I was implementing the already accepted ones, **changing prototypes into final product**.

  .img-box
    %figure
      %img{:src => image_path('06.jpg'), :alt => 'img'}
      %figcaption
        I couldn't find a photo of implementing the Hotel IBE but the one fits here as well :)
      