%section.section-seven
  %header
    %h1 Highlights
    .pager#highlights-slider-control
      %li
        %a.active{:href => '#highlight1'} 1
      %li 
        %a{:href => '#highlight2'} 2
      %li
        %a{:href => '#highlight3'} 3
      %li
        %a{:href => '#highlight4'} 4
      %li
        %a{:href => '#highlight5'} 5
      %li
        %a{:href => '#highlight6'} 6
      %li
        %a{:href => '#highlight7'} 7
      %li
        %a{:href => '#highlight8'} 8
      %li
        %a{:href => '#highlight9'} 9

  #highlights-slider-body
    %article#highlight1
      loader + full width map displayed by default

    %article#highlight2
      shortlist

    %article#highlight3
      single hotel box on the list (the story)

    %article#highlight4
      page menu on Hotel page

    %article#highlight5
      gallery new and old

    %article#highlight6
      similar hotels

    %article#highlight7
      user friendly forms

    %article#highlight8
      IE 6 info

    %article#highlight9
      fluid layout between 720 and 1100px

  