%section.section-two
  
  .list
    %h2 Technical
    %ul
      %li AssetPipeline from Rails
      %li HAML
      %li SASS with Compass
      %li CoffeeScript
      %li jQuery
      %li backbone.js & underscore.js
      %li Handlebars.js
      %li GoogleMaps API
      %li
        a few self written
        %a{:href => 'https://github.com/krzysu/jquery.plugins'} jquery.plugins

  .img-box
    %img{:src => 'http://placehold.it/280x310', :alt => 'img'}

  .list
    %h2 Header
    %ul
      %li AssetPipeline from Rails
      %li HAML
      %li SASS with Compass
      %li CoffeeScript
      %li jQuery
      %li backbone.js & underscore.js
      %li Handlebars.js
      %li GoogleMaps API
      %li
        a few self written
        %a{:href => 'https://github.com/krzysu/jquery.plugins'} jquery.plugins