%section.section-three
  %h1 Phase 1. Planning

  .img-box
    %figure
      %img{:src => image_path('03.jpg'), :alt => 'img'}
      %figcaption
        I know that my sketches are a bit chaotic but they help me a lot
  
  .desc-box
    :markdown
      We would like to take what worked in our current IBE and change what not. I made a **comprehensive analysis** of our competition's apps (total of 11) like [booking.com](http://booking.com) or [agoda.de](http://agoda.de). Most of them had similar features and layouts but there were also quite innovative solutions like [Google Hotel Finder](http://www.google.com/hotelfinder/) or [hipmunk.com](http://www.hipmunk.com/hotels). We also knew, that despite the innovation, our **target users** (mainly Germans) are quite used to well known solutions for them. So we need to **find a balance**. We would like to push our users a bit forward but in the way they would still feel comfortable with our app.

      So I started **sketching and noting** all ideas for features and solutions, all that could be helpfull in the future of our project. We had the basic idea, we already knew the flow and how many steps we need to prepare for user to finish its task with our app. The **two main challenges** were Hotels Page, with list of all available hotels, and Hotel Page, with all the details of selected hotel and room selection.
