%section.section-six
  %h1 Phase 4. Implementation

  .img-box
    %img{:src => 'http://placehold.it/590x400', :alt => 'img'}

  .desc-box
    :markdown
      We already had a lot of **working code** after prototyping phase. And we did not have much time **till deadline**. So while waiting for new designs from graphic designer, I was implementing the already accepted ones, **changing prototypes into final product**.

  