%section.section-seven
  %header
    %h1 Highlights
    .pager#highlights-slider-control
      %li
        %a.active{:href => '#highlight-1'} 1
      %li 
        %a{:href => '#highlight-2'} 2
      %li
        %a{:href => '#highlight-3'} 3
      %li
        %a{:href => '#highlight-4'} 4
      %li
        %a{:href => '#highlight-5'} 5
      %li
        %a{:href => '#highlight-6'} 6
      %li
        %a{:href => '#highlight-7'} 7
      %li
        %a{:href => '#highlight-8'} 8
      %li
        %a{:href => '#highlight-9'} 9

  #highlights-slider-body

    %article#highlight-1
      loader + full width map displayed by default

    %article#highlight-2
      shortlist

    %article#highlight-3
      single hotel box on the list (the story)

    %article#highlight-4
      page menu on Hotel page

    %article#highlight-5
      gallery new and old

    %article#highlight-6
      similar hotels

    %article#highlight-7
      user friendly forms

    %article#highlight-8
      IE 6 info

    %article#highlight-9
      fluid layout between 720 and 1100px

  