%section.section-four
  %header
    %h1 Section With Many Articles
    %ul.pager#prototyping-slider-control
      %li
        %a.active{:href => '#prototyping-1'} 1
      %li 
        %a{:href => '#prototyping-2'} 2
      %li
        %a{:href => '#prototyping-3'} 3
      %li
        %a{:href => '#prototyping-4'} 4

  #prototyping-slider-body

    %article#prototyping-1
      .desc-box
        %p= lorem.paragraph

        %a.button{:href => '#prototyping-2'} next &raquo;
      
      .img-box
        %figure
          %img{:src => lorem.image('590x300'), :alt => 'img'}
          %figcaption image caption

    %article#prototyping-2
      .img-box
        %figure
          %img{:src => lorem.image('590x300'), :alt => 'img'}
          %figcaption image caption

      .desc-box
        %p= lorem.paragraph

        %a.button{:href => '#prototyping-3'} next &raquo;

    %article#prototyping-3
      .desc-box
        %p= lorem.paragraph

        %a.button{:href => '#prototyping-4'} next &raquo;
      
      .img-box
        %figure
          %img{:src => lorem.image('590x300'), :alt => 'img'}
          %figcaption image caption
          
    %article#prototyping-4
      .img-box
        %figure
          %img{:src => lorem.image('590x300'), :alt => 'img'}
          %figcaption image caption

      .desc-box
        %p= lorem.paragraph

