%section.section-three
  %h1 Section With Simple Grid

  .img-box
    %figure
      %img{:src => lorem.image('300x350'), :alt => 'img'}
      %figcaption image caption

  .desc-box
    %p= lorem.paragraph
    %p= lorem.paragraph
    %p= lorem.paragraph

  