%section.section-one
  %h1 Brief

  .desc-box
    :markdown
      Our aim was to build the new **Hotel Booking application** based on **Hotel API**. The team consisted of one back-end and one front-end (that was me) developer, and of course we had contact with Product Owner. I had **some experience** in building UX for Hotel Booking applications and we as company have **some data** based on our current working in production application. So we quite well knew what we are going to do, had some statistics what works and what not, but we also wanted to add some new, fresh features to **get ahead of the competition**.

  .img-box
    %figure
      .img-one-01
      %figcaption
        one of concept designs for Resfinity logo by external designer
