%section.section-five
  %h1 Phase 3. Design

  .img-box
    %figure
      %img{:src => image_path('05.jpg'), :alt => 'img'}
      %figcaption
        one of early mockups with my comments, we were using
        %a{:href => 'http://invisionapp.com'} invisionapp.com
        
  .desc-box
    :markdown
      I am not a graphic designer (rather **CSS3 designer**), and I did a lot of designing for our current IBE, so I **convinced** our Product Owner (and Manager in the same person) that we should involve someone from outside of the company, a well skilled graphic designer with **fresh look** at our application.

      So one page after another we prepared beautiful and usable mockups. My cooperation with graphic designer began from specifying all requirements and contents of each page, then in **short iteration** we focused on single elements of pages, **improving** them till I was fully satisfied.

  